html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
input[type=text]{
	text-align: center;
}
.row{
	margin-bottom: 5px;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.f-sub {
	float: right;
}

table {
	table-layout:auto;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
}

td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
}
th{
	  position: sticky;
    top: 0px;
    background-color: gray !important;
}

tr:nth-child(even) {
      background-color: #dddddd;
}



.color-input {
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #000;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
  margin-bottom : 20px;
  float:right;
  width:250px;
}

